BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
SortIncludes: Never
SortUsingDeclarations: Never
ReflowComments: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
